# Pandasのデータ構造
Pandasの基本的なデータ構造は ``Series`` と ``DataFrame``  です。

## Series
``Series``は1次元のデータです。1次元の配列やリストと似ていますが、各要素に見出し（インデックス）が付いている点と各要素のデータ型(dtype)が明示される点が特徴です。

In [10]:
# 1次元リストからSeriesを生成すると、自動的に連番のインデックスが付けられます
import pandas as pd

data = [ 'apple', 'banana', 'cherry' ]
sr = pd.Series(data)
sr

0     apple
1    banana
2    cherry
dtype: object

In [11]:
# 辞書からSeriesを生成すると、キーがインデックスになります
import pandas as pd

data = { 'name': 'John', 'sex': 'male', 'age': 30, 'profession': 'programmer' }
sr = pd.Series(data)
sr

age                   30
name                John
profession    programmer
sex                 male
dtype: object

## DataFrame
``DataFrame``は2次元のデータです。``Series``と同様に縦軸(行)と横軸(列)に見出し（インデックス）が付きます。

In [12]:
# リストのリストから DataFrame を生成すると、行と列の見出しが自動的に生成されます
import pandas as pd

data = [ [1,2,3,4], [5,6,7,8], [9,10,11,12] ]
df = pd.DataFrame(data)
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [13]:
# 辞書のリストから DataFrame を生成すると、各辞書のキーが列見出しになります
import pandas as pd

data = [
    { 'チーム名': '浦和レッズ', 'ホームタウン': 'さいたま市' },
    { 'チーム名': '横浜マリノス', 'ホームタウン': '横浜市' },
    { 'チーム名': 'FC東京', 'ホームタウン': '東京都' }
]
df = pd.DataFrame(data)
df

     チーム名 ホームタウン
0   浦和レッズ  さいたま市
1  横浜マリノス    横浜市
2    FC東京    東京都