### Pandasのデータ構造
Pandasの基本的なデータ構造は ``Series`` と ``DataFrame``  です。

``Series``は1次元のデータです。1次元の配列やリストと似ていますが、各要素に見出し（インデックス）が付いている点と各要素のデータ型(dtype)が明示される点が特徴です。

In [5]:
# 1次元リストからSeriesを生成すると、自動的に連番のインデックスが付けられます
import pandas as pd

data = [ 'apple', 'banana', 'cherry' ]
sr = pd.Series(data)
sr

0     apple
1    banana
2    cherry
dtype: object

In [6]:
# 辞書からSeriesを生成すると、キーがインデックスになります
import pandas as pd

data = { 'name': '浦和レッズ', 'ホームタウン': 'さいたま市', '設立年': 1950, '2018シーズン順位': 5 }
sr = pd.Series(data)
sr

2018シーズン順位        5
name          浦和レッズ
ホームタウン        さいたま市
設立年            1950
dtype: object

``DataFrame``は2次元のデータです。``Series``と同様に縦軸(行)と横軸(列)に見出し（インデックス）が付きます。

In [7]:
import pandas as pd

data = [ [1,2,3,4], [5,6,7,8], [9,10,11,12] ]
df = pd.DataFrame(data)
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [8]:
import pandas as pd

data = [
    { 'name': '浦和レッズ', 'ホームタウン': 'さいたま市' },
    { 'name': '横浜マリノス', 'ホームタウン': '横浜市' },
    { 'name': 'FC東京', 'ホームタウン': '東京都' }
]
df = pd.DataFrame(data)
df

     name ホームタウン
0   浦和レッズ  さいたま市
1  横浜マリノス    横浜市
2    FC東京    東京都